$color1: rgb(161, 68, 161);
$font1: 'Sarabun', sans-serif;
$font2: 'Monoton', cursive;
$background1: rgb(65, 13, 114);



body {
    margin: 0 100px;
    a {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    li {
        font-family: $font2;
        padding-left: 30px;
    }
}

@import "header";
@import "nav";
@import "titulos";
@import "sec1";
@import "sec2";
@import "sec3";
@import "sec4";
@import "sec5";
@import "footer";

/*-------------------------------------------------------------------------------------
-----------------------------MOBILE----------------------------------------------------
------------------------------------------------------------------------------------*/

@import "mediaq/mediaq";